@media (max-width:1000px) {
    .div-wrap {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media (max-width:1000px) {
    .fourth-section {
        flex-wrap: wrap;
        width:100%;
    }
}
@media (max-width:1000px) {
    .text-photo {
        font-size: 15px;
    }
}

    